.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo {

}
.header__button {
}


@media (max-width: 479.98px) {   
  .header__container {
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
  } 
}
@media (max-width: 370.98px) {
  .header__container {
    justify-content: center;
  } 
  .header__button {
    min-width: 100%;
  }
}